.navigationWeatherStyle {
    display: flex;
    align-content: center;
    background-color: #ffffff;
}

.navigationWeatherLocationStyle {

}

.navigationWeatherIconStyle {

}

.navigationWeatherTemperatureStyle {

}

.navigationWeatherAirQualityStyle {

}