.navigationWeatherStyle {
    display: flex;
    align-content: center;
    background-color: #ffffff;
}

.navigationWeatherLocationStyle {

}

.navigationWeatherIconStyle {
    width:25px; 
    height:25px;
    margin-left: 5px; 
}

.navigationWeatherTemperatureStyle {

}

.navigationWeatherAirQualityStyle {

}